body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro */
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 400px;
    padding: 20px;
    background: #333; /* Fondo más oscuro para el contenido */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="submit"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
    background: #fff;
    color: #333;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

textarea {
    resize: vertical;
    height: 80px;
}

#logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%; /* Ajusta el tamaño del logo */
}

